* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: block;
    position: absolute;
    width: 100%;
}

.header__container {
    margin-top: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__social-media {
    margin-right: 45px;
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header__logo {
    margin-left: 75px;
}

.header__social-item {
    padding-right: 40px;
}

.cyberpunk__img-container {
    height: 1000px;
    overflow: hidden;
    background-image: url(/HTML-CSS/pictures/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: changing 10s infinite;
    animation-timing-function: step-start;
}

@keyframes changing {
    0% {
        background-image: url(/HTML-CSS/pictures/1.jpg);

    }

    34% {
        background-image: url(/HTML-CSS/pictures/2.jpg);

    }

    68% {
        background-image: url(/HTML-CSS/pictures/3.jpg);
    }
}

.main {
    display: block;
}

.cyberpunk__container-banner {
    width: 624px;
    height: 367px;
    position: relative;
    padding: 70px;
    background-color: rgb(248, 242, 0);
    clip-path: polygon(10% 0px, 100% 0px, 100% 83%, 90% 100%, 0px 100%, 0px 17%);

}

.cyberpunk__container {
    margin: 0 auto;
    padding: 0 70px;
    max-width: 1400px;
    height: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cyberpunk__container-banner-title {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Archangelsk';
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
}

.cyberpunk__container-banner-click {
    font-size: 24px;
    padding: 25px 50px;
    background-color: black;
    color: rgb(248, 242, 0);
    font-weight: 700px;
    border: none;
    cursor: pointer;
}

@font-face {
    font-family: 'Archangelsk';
    src: url(Archangelsk.woff2);
}

.about {
    padding-top: 70px;
    padding-bottom: 55px;
}

.about__container {
    margin: 0 auto;
    padding: 0 70px;
}

.about__container-title {
    margin: 0px;
    margin-bottom: 25px;
    font-family: 'Archangelsk';
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: black;
}

.about__container-game {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 34px;
    color: rgb(119, 119, 119);
    max-width: 950px;
}

.about__container-game-color {
    color: #52BEDC;
}